{% cache globally %}
  {% set nav = siteOptions.mainNavigation.all %}
  {% apply spaceless %}
    <nav class="absolute left-0 z-10 hidden w-full bg-black/80 lg:bg-transparent lg:w-auto lg:static lg:block" id="main-nav" role="menu" tabindex="-1">
      <ul class="list-none lg:flex justify-between">
        {% for entry in nav %}
          <li class="lg:relative lg:inline-block group">
            <div class="flex justify-between items-center px-4 lg:px-0">
              <a class="flex-grow block lg:px-4 py-3 lg:py-4 uppercase tracking-wide text-white transition-colors duration-300 ease-linear lg:hover:text-brand-yellow lg:focus:text-brand-yellow lg:inline-block text-lg" role="menuitem" href="{{ entry.url }}">
                {{ entry.title }}
              </a>
              {% if entry.getChildren|length %}
                <button type="button" aria-label="Main Navigation Subpages Toggle" title="Main Navigation Subpages Toggle" aria-expanded="false" aria-controls="main-navigation-subpages" _="on click toggle .hidden on the <div/> in me then toggle .hidden on the next <ul/>">
                  <div class="main-nav-chevron block px-4 lg:hidden text-white">
                    {{ svg("@webroot/img/icons/chevron-right-solid.svg")|attr({class: 'h-5 w-5 inline-block'}) }}
                  </div>
                  <div class="main-nav-chevron hidden px-4 lg:hidden text-white">
                    {{ svg("@webroot/img/icons/chevron-down-solid.svg")|attr({class: 'h-5 w-5 inline-block'}) }}
                  </div>
                </button>
              {% endif %}
            </div>
            {% set childPages = entry.getChildren().all %}
            {% if childPages | length %}
              <ul id="main-navigation-subpages" class="z-20 lg:absolute left-0 hidden w-full lg:w-64 shadow-lg divide-y divide-brand-gold lg:divide-brand-gold/30 lg:group-hover:block bg-brand-yellow lg:bg-black/75 top-[48px] py-4">
                {% for page in childPages %}
                  <li>
                    <a class="block px-3 py-2 text-black lg:text-white normal-case hover:text-brand-yellow hover:bg-black/90 text-xl" href="{{ page.url() }}">{{ page.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
  {% endapply %}
{% endcache %}
